<div>
  <h1>Listing Posts</h1>
   <%= paginate(@posts) %>
    <% @posts.each do |post| %>
     <div>
      <h2><u><%= post.title %></u></h2>
      <h5><%= post.text %></h5>
       <%= link_to 'Show', post_path(post), class: "btn btn-success" %>
         <%if user_signed_in?%>
          <%if post.user_id == current_user.id%> 
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %> 
            <%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> 
          <%end%>
        <%end%>
     </div>
   <% end %>
    <%= paginate(@posts) %>
</div>

